@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
  box-sizing: border-box;
  }
body {
  background-image: linear-gradient(135deg, #FFDB14, #1DA1F2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

#root {
  width: 100%;
}
h1 {
  text-align: center;
  background-color: white;
}

.form-field {
  display: inline-flexbox;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container::after {
  background-color: steelblue;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  max-width: 70%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  text-align: right;
  position: relative;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  right: -7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: rotate(45deg);
  top: calc(50% - 7.5px);
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content:after{
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag{
  left: auto;
  right: 5px;
}

.timeline-item-content .months {
  color: #777;
  font-size: 14px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  color: #444;
  text-decoration: none;
  font-size: 15px;
}

.timeline-item-content a::after {
  content: '►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #FFDB14;
  position: absolute;
  top: calc(50% - 10px );
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item-content .circle::after {
  content: ' ';

}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}